@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import "./variables.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.app{
  padding: 0 10%;
  font-family: var(--kumbh-sans);
}