/* @import "./variables.css"; */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

nav div.nav-left-side {
  display: flex;
  gap: 50px;
  align-items: center;
}
div.nav-left-side a.logo {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: var(--neutral-very-dark-blue);
}
div.nav-left-side ul.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}
ul.nav-links li {
  position: relative;
}
ul.nav-links li a {
  text-decoration: none;
  color: var(--neutral-darl-grayish-blue);
}
div.nav-right-side ul.cart-and-user {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
ul.cart-and-user li {
  position: relative;
}
ul.cart-and-user li a.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
ul.cart-and-user li a.avatar img:hover {
  outline: 2px solid var(--primary-orange);
}
ul.cart-and-user a.cart {
  position: relative;
}
ul.cart-and-user a.cart span.bradecrumb {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -15px;
  background-color: tomato;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
}
ul.cart-and-user li div.my-cart {
  position: absolute;
  background-color: var(--neutral-white);
  width: 300px;
  left: -120px;
  top: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  visibility: hidden;
}

ul.cart-and-user li div.my-cart.toggle-my-cart {
  transform: scale(1);
  visibility: visible;
}
div.my-cart header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.my-cart header span {
  font-weight: 800;
}
div.my-cart div.my-items {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: var(--neutral-darl-grayish-blue);
}
.inActive {
  color: var(--neutral-darl-grayish-blue);
}
.active::after {
  position: absolute;
  left: 0;
  bottom: -37px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--primary-orange);
  display: block;
}
